
<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
    <li><a asp-action="Index" asp-controller="Home" class="nav-link px-2 text-secondary">Home</a></li>
    <li><a asp-action="List" asp-controller="Products" class="nav-link px-2 text-white">Products</a></li>
    <li><a asp-action="List" asp-controller="Authors" class="nav-link px-2 text-white">Authors</a></li>
    <li><a asp-action="List" asp-controller="Publishers" class="nav-link px-2 text-white">Publishers</a></li>
    <li><a asp-action="List" asp-controller="Genres" class="nav-link px-2 text-white">Genres</a></li>
    <li><a href="#" class="nav-link px-2 text-white">About</a></li>
</ul>
